@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    font-family: Poppins, sans-serif;
}

html, body{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222831;
}


.header{
    background-color: #111720;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}

.container{
    margin-top: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status, .game-winner{
    font-size: 40px;
    margin-top: -5%;
}


.case{
    font-size: 25px;
   
}

.score{
    display: flex;
    width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player, .computer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-symbol, .computer-symbol{
    font-size: 75px;
}


.computer-score, .player-score{
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 20px;
    width: 150px;
    text-align: center;
}



.decisions{
    margin-bottom: 10%;
}

.decisions button{
    background-color: #393e46;
    border: none;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    font-size: 75px;
    margin-right: 20px;
}

button:hover{
    background-color: #4a4f57;
}

button:active{
    background-color: #5b5f68;
}

.start-new{
    color: white;
    background-color: #393e46;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    height: 50px;

    width: 200px;
}
.scissors{
    margin-right: 0px !important;
}

.footer{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #111720;
    width: 100%;
    color: white;
}

@media screen and (max-width: 900px) {
.header{
    font-size: 33px;
}
.status{
    font-size: 28px;
}
.case{
    font-size: 18px;
}
.score{
    width: 300px;
}
.player-symbol, .computer-symbol{
    font-size: 80px;
}
.player-score, .computer-score{
    font-size: 15px;
}
.decisions button{
    height: 100px;
    width: 100px;
    font-size: 50px;
}


.player img{
    width: 100px;
    height: 100px;
}

.decisions img{
    height: 100px;
    width: 100px;
}
}
